{% extends 'base.html' %}
{% block content %}

<body>
    <h1>Customer Information</h1>
    <form>
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname"><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname"><br>
        <label for="mi">Middle initial:</label><br>
        <input type="text" id="mi" name="mi"><br>
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email"><br>
        <label for="pnumber">Phone number:</label><br>
        <input type="text" id="pnumber" name="pnumber"><br>
        <label for="ava_url">Avatar url:</label><br>
        <input type="text" id="ava_url" name="ava_url"><br>
    </form>
    <button type="submit" form="nameform" value="Submit">Submit</button>
</body>
{% endblock %}
