{% extends 'base.html' %}
{% block content %}
<style>
      table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            }
        tr th { 
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
            
            }
</style>
<h1>
    <!--Customer table-->
    <table>
        <tr>
            <th colspan="50">Customer Data</th>
        </tr>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>MI</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Avatar url</th>
            </tr>
    </table>

</h1>
{% endblock %}