body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: #000;
    background-color: #0a191f; /* Same as your navbar background */
    padding-top: 80px; /* Adjust based on the height of your navbar */
    padding: 20px;
}

.bg-dark {
    background-color: #343a40; /* Use a contrasting color */
    z-index: 1030; /* Ensure it's on top of other content */
}

.navbar {
    z-index: 1030; /* Bootstrap default for navbar */
    padding-bottom: 20px;
    margin: 0px;
}

.navbar .nav-link {
    color: white; /* Ensure links are visible */
}

.navbar .nav-link:hover {
    color: #ffc107; /* Change hover color for better visibility */
}
