{% extends 'base.html' %}
{% block content %}

    <div class="flex-container">
        {% for customer in customers %}
            <div class="card" style="width: 27rem;">
                <img class="card-img-top" src="{{ customer.avatar_url }}" alt="Card image cap" style="width:250px; height: 200px;">
                <div class="card-body">
                    <p class="cust-fname">{{ customer.fname }}</p>
                    <p class="cust-lname">{{ customer.lname }}</p>
                    <p class="cust-mi">{{customer.mi}}</p>
                    <p class="cust-email">{{customer.email}}</p>
                    <p class="cust-pnumber">{{customer.phone}}</p>
                    <!-- Update Button -->
                    <a href="{% url 'update_customer' customer.id %}" class="btn btn-primary">Update</a>
                    <!-- Delete Button -->
                    <a href="{% url 'delete_customer' customer.id %}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
